<div *ngIf="currentFile" class="p-4">
  <div class="tag-groups">
    <div *ngFor="let group of getTagKeys()" class="tag-group">
      <h4 class="group-title">{{ group }}</h4>
      <div class="tag-chips">
        <app-tag
          *ngFor="let tag of groupedTags[group]"
          [tag]="tag"
          [fileId]="currentFile"
          [canRemove]="false"
          [canAdd]="true"
        ></app-tag>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!currentFile" class="p-4 text-gray-500 italic">
  Please select a file to add tags.
</div>
